{% extends 'baseabsoluta.html.twig' %}

{% block title %}Pagina de AnunciosController ver 3{% endblock %}


{% block body %}



<body>
<br/><br/><br/>
<!-- Page Content -->
    <div class="container" style="margin-top:1% !important">


        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
          
            Esto es la pagina ver 3  
            {{ valor3 }}<br/>
            {{ valor3b }}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <hr>

       <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website {{ fechavista }}
                       
                </div>
                    
                    
            </div>
        </footer>

    </div>
    <!-- /.container -->




</body>


{% endblock %}